/*
  color pallete: http://www.colourlovers.com/palette/3616733/slack.com
  green: 3EB890
  blue: 70CADB
  yellow: E8A723
  pink: E01765
  brown: 443642
*/
.bg_pink {
  background: #E01765;
}
.bg_brown {
  background: #443642;
}
.nomargin {
  margin: 0;
}
.nopadding {
  padding: 0;
}
.clearfix {
  overflow: auto;
  zoom: 1;
}
body {
  position: relative;
  padding: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
}
html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  color: white;
}
header {
  padding: 10px 20px;
  color: white;
}
#gallery-container {
  margin: 20px 10px;
}
.picture_frame {
    width: 300px;
    height: 300px;
    max-width: 96%;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(112,202,219,0.5);
    border: 1px solid rgba(146, 146, 146, 0.5);
    overflow: hidden;
    float: left;
    margin: 10px 5px;
}
.picture_frame .img {
    width: 100%;
    height: 240px;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}
.picture_frame .title {
    margin: 5px 10px 0;
}
.picture_frame .title a {
    text-decoration: none;
    color: #E01765;
    text-transform: capitalize;
}
.black-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.9);
  z-index: 2;
}
.image-full-size {
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 3;
}
.image-full-size .image-container {
  background-image: url(http://imgur.com/7p7txfO.jpg);
  background-position: center center;
  position: fixed;
  bottom: 4rem;
  right: 20px;
  left: 20px;
  top: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}
.image-full-size .title {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  height: 4rem;
  padding: 1rem;
  text-transform: capitalize;
}
.close-img-modal {
  color: white;
  position: fixed;
  top: 30px;
  right: 30px;
  cursor: pointer;
  font-size: 20px;
}
.change-image-arrow {
  position: fixed;
  bottom: 40vh;
  top: 40vh;
  width: 50px;
  line-height: 20vh;
  color: white;
  padding: 0 10px;
  cursor: pointer;
}
.change-image-arrow:hover {
  background: rgba(255, 255, 255, 0.13);
}
.change-image-arrow.previous {
  left: 0;
}
.change-image-arrow.next {
  right: 0;
}
